{{!--
    Book sub-navigation
    Shows only when in the book area (book sections, chapters)
    Displayed via CSS using body classes
--}}

<div class="book-subnav">
    <div class="container">
        <nav class="book-subnav-inner">
            <ul class="book-subnav-list">
                <li><a href="{{@site.url}}/tag/start-end/" class="book-subnav-link subnav-start-end">Start & End</a></li>
                <li><a href="{{@site.url}}/tag/foundations/" class="book-subnav-link subnav-foundations">Foundations</a></li>
                <li><a href="{{@site.url}}/tag/structuring/" class="book-subnav-link subnav-structuring">Structuring</a></li>
                <li><a href="{{@site.url}}/tag/direction/" class="book-subnav-link subnav-direction">Direction</a></li>
                <li><a href="{{@site.url}}/tag/practice/" class="book-subnav-link subnav-practice">Practice</a></li>
                <li><a href="{{@site.url}}/tag/learning/" class="book-subnav-link subnav-learning">Learning</a></li>
                <li><a href="{{@site.url}}/tag/space/" class="book-subnav-link subnav-space">Space</a></li>
                <li><a href="https://www.amazon.com/Hidden-Patterns-Playbook-Human-Workplaces/dp/1637748582" class="book-subnav-link book-subnav-buy" target="_blank" rel="noopener">Buy</a></li>
            </ul>
        </nav>
    </div>
</div>
