<header class="site-header">
    <div class="header-main">
        <div class="container">
            <div class="header-inner">
                {{!-- Mobile: Logo on left --}}
                <a href="{{@site.url}}" class="mobile-logo" aria-label="Home">{{> "icons/logo"}}</a>

                {{!-- Desktop nav --}}
                <nav class="site-nav" id="site-nav">
                    <ul class="nav-list">
                        <li><a href="{{@site.url}}" class="nav-home" aria-label="Home">{{> "icons/logo"}}</a></li>
                        <li><a href="{{@site.url}}/tag/start-end/" class="nav-book">Book</a></li>
                        <li><a href="{{@site.url}}/essays/" class="nav-essays">Essays</a></li>
                        <li><a href="{{@site.url}}/five-things/" class="nav-five-things">Five Things</a></li>
                        <li><a href="{{@site.url}}/radar/" class="nav-radar">Radar</a></li>
                        <li><a href="{{@site.url}}/everything/" class="nav-everything">Everything</a></li>
                    </ul>

                    {{!-- Mobile menu content --}}
                    <div class="mobile-menu-content">
                        {{!-- Logo at top of mobile menu --}}
                        <a href="{{@site.url}}" class="mobile-menu-logo" aria-label="Home">{{> "icons/logo"}}</a>

                        <div class="mobile-menu-nav">
                            <a href="{{@site.url}}/tag/start-end/" class="mobile-nav-item">
                                <span class="mobile-nav-title">Book</span>
                                <span class="mobile-nav-desc">Hidden Patterns: A playbook for more human workplaces.</span>
                            </a>
                            <a href="{{@site.url}}/essays/" class="mobile-nav-item">
                                <span class="mobile-nav-title">Essays</span>
                                <span class="mobile-nav-desc">Longer pieces exploring ideas in depth.</span>
                            </a>
                            <a href="{{@site.url}}/five-things/" class="mobile-nav-item">
                                <span class="mobile-nav-title">Five Things</span>
                                <span class="mobile-nav-desc">Quick lists of five. Also available on LinkedIn.</span>
                            </a>
                            <a href="{{@site.url}}/everything/" class="mobile-nav-item">
                                <span class="mobile-nav-title">Everything</span>
                                <span class="mobile-nav-desc">All posts and pages, most recent first.</span>
                            </a>
                        </div>

                        <a href="{{@site.url}}/radar/" class="mobile-radar-card">
                            <span class="mobile-radar-title">Radar</span>
                            <span class="mobile-radar-desc">Daily observations on organization design.</span>
                        </a>

                        <div class="mobile-menu-footer">
                            <div class="mobile-datetime">
                                <span class="mobile-date"></span>
                                <span class="mobile-time"></span>
                            </div>
                            <div class="mobile-moonphase">
                                <div class="moonphase">
                                    <div class="moonphase-disc moonphase-disc-mobile">
                                        <img src="{{asset 'images/moonphase-disc.svg'}}" alt="">
                                    </div>
                                    <img class="moonphase-mask" src="{{asset 'images/moonphase-mask.svg'}}" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="mobile-menu-actions">
                            {{#if @member}}
                                <a href="#/portal/account" class="mobile-menu-link">Account</a>
                            {{else}}
                                <a href="#/portal/signin" class="mobile-menu-link">Sign in</a>
                                <a href="#/portal/signup" class="mobile-menu-link mobile-menu-link-primary">Subscribe</a>
                            {{/if}}
                        </div>
                    </div>
                </nav>

                {{!-- Desktop actions --}}
                <div class="header-actions">
                    <div class="header-datetime" id="header-datetime">
                        <span class="header-date"></span>
                        <span class="header-time"></span>
                    </div>
                    <div class="header-moonphase" id="header-moonphase" title="Current moon phase">
                        <div class="moonphase">
                            <div class="moonphase-disc" id="moonphase-disc">
                                <img src="{{asset 'images/moonphase-disc.svg'}}" alt="">
                            </div>
                            <img class="moonphase-mask" src="{{asset 'images/moonphase-mask.svg'}}" alt="">
                        </div>
                    </div>

                    {{#if @member}}
                        <a href="#/portal/account" class="header-link">Account</a>
                    {{else}}
                        <a href="#/portal/signin" class="header-link">Sign in</a>
                        <a href="#/portal/signup" class="header-link header-link-primary">Subscribe</a>
                    {{/if}}

                    <button class="menu-toggle" id="menu-toggle" aria-label="Toggle menu">
                        <span class="icon-menu">{{> "icons/menu"}}</span>
                        <span class="icon-close">{{> "icons/close"}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Book sub-navigation - only shows in book area --}}
    {{> "book-subnav"}}
</header>
