<article class="post-card post-card-radar {{post_class}}">
    <h3 class="post-card-title">
        <a href="{{url}}">{{title}}</a>
    </h3>

    {{#if excerpt}}
        <p class="post-card-excerpt">{{excerpt}}</p>
    {{/if}}

    <div class="ds-meta">
        <span class="ds-meta-item">{{date format="MMM D, YYYY"}}</span>
        {{#if reading_time}}
            <span class="ds-meta-item">{{reading_time}}</span>
        {{/if}}
    </div>
</article>
