<article class="post-card {{post_class}}">
    <div class="post-card-content">
        {{#if primary_tag}}
            <div class="ds-meta-tag-wrapper">
                <span class="ds-meta-item">{{primary_tag.name}}</span>
            </div>
        {{/if}}

        <h3 class="post-card-title">
            <a href="{{url}}">{{title}}</a>
        </h3>

        <p class="post-card-excerpt">{{excerpt}}</p>

        <div class="ds-meta">
            <span class="ds-meta-item">{{date format="MMM D, YYYY"}}</span>
            {{#if reading_time}}
                <span class="ds-meta-item">{{reading_time}}</span>
            {{/if}}
            <span class="ds-meta-item ds-meta-comments"><svg width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> <span class="ds-meta-comments-text">{{comment_count}}</span></span>
        </div>
    </div>
</article>
