{{!< default}}

{{!--
    Book chapter template
    Custom template for book chapters
    Set "Template" to "chapter" in Ghost page settings

    Chapters should be tagged with their section (foundations, structuring, etc.)
    The sidebar will automatically show other chapters in the same section
--}}

{{#post}}
<div class="container">
    <div class="chapter-layout">
        {{!-- Determine the section from tags --}}
        {{#has tag="foundations"}}
            {{> "sidebar-chapter" section_slug="foundations" current_slug=slug}}
        {{else has tag="structuring"}}
            {{> "sidebar-chapter" section_slug="structuring" current_slug=slug}}
        {{else has tag="direction"}}
            {{> "sidebar-chapter" section_slug="direction" current_slug=slug}}
        {{else has tag="learning"}}
            {{> "sidebar-chapter" section_slug="learning" current_slug=slug}}
        {{else has tag="practice"}}
            {{> "sidebar-chapter" section_slug="practice" current_slug=slug}}
        {{else has tag="space"}}
            {{> "sidebar-chapter" section_slug="space" current_slug=slug}}
        {{/has}}

        <article class="chapter-content">
            <header class="chapter-header">
                {{#if primary_tag}}
                    <div class="chapter-number">{{primary_tag.name}}</div>
                {{/if}}
                <h1 class="chapter-title">{{title}}</h1>
            </header>

            <div class="content">
                {{content}}
            </div>

            {{!-- Membership CTA for non-members --}}
            {{#unless @member}}
                {{> "membership-cta"}}
            {{/unless}}
        </article>
    </div>
</div>
{{/post}}
